{% extends "layouts/base.html" %}

{% block title %}New Questions{% endblock %}

{% block content %}
<div class="row">

    <!-- Questions List -->
    <section class="col">
      <div class="d-flex align-items-center gap-2 mb-4">
        <h3 id="question-title" class="question-tab active">New Questions</h3 >
        <h4 href="#" id="hot-questions-link" class="question-tab">Hot Questions</h4>
    </div>
    
    <style>
      .question-tab {
        text-decoration: none;
        color: #666;
        font-weight: 500;
        transition: color 0.2s;
      }
      .question-tab.active {
        color: green;
        font-weight: bold;
      }
    </style>

      <div class="d-flex flex-column gap-3">
        <div id="question-list">
          {% include 'layouts/question_list.html' %}
        </div>
      </div>
    </section>
    <!-- Sidebar -->
    <!-- <aside class="col-3">
      {% include "layouts/popular-tags.html" %}
      {% include "layouts/best-members.html" %}
    </aside> -->
    
{% include "layouts/pagination.html" %}
  
{% endblock %}

<script>
  document.getElementById('hot-questions-link').addEventListener('click', function (e) {
      e.preventDefault();
  
      fetch('/hot-questions/')
          .then(response => response.text())
          .then(data => {
              document.getElementById('question-list').innerHTML = data;
              document.getElementById('question-title').textContent = 'Hot Questions';
          });
  });
  </script>
  